__pycache__
.pytest_cache

# Ignore node packages.
node_modules

# Ignore compiled javascript
dist

# MacOS file system metadata.
.DS_store

# An earlier version of this project was going to have docusaurus docs.
docs